html{
    scroll-behavior:smooth;
}

.Header{
    position:sticky;
    top:0;
    z-index:1000;
    opacity:0.7;
    backdrop-filter: blur(10px);
}

.FlexHead{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:8px 5%;
    border-bottom: 1px solid #ccc;
}

.OtherHead{
    display:flex;
    align-items:center;
    gap:25px;
}
/*Vibe coded*/

.OtherHead a:not(:last-child)::after {
    content: "|";
    margin-left: 25px;
}

@media (max-width: 700px) {
    .Profile {
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px;
    }
}

/*Will figure it out later*/
.Para {
  position:relative; /* The text is kind of down*/
  top:-2px;
  color: inherit;
  text-decoration:none;
   /*Well the below is the text config which I inspected from my friends website ;-;.*/
  font-family:"JetBrains Mono";
  font-weight:100 800;           /* font-bold */
  font-display:swap; /*I wonder what does it do ;-; (JK it displays its usual font until it loads the JetBrains mono)*/
  letter-spacing: 0.18em;    /* tracking-[0.18em](Sorry my good friend) */
  transition: opacity 200ms;
}

.Para:hover {
  opacity: 0.7;
}

.Profile{
    position:relative;
    display:flex;
    gap:75px;
    align-items:center;
    justify-content:center;
    padding:40px;
    overflow:hidden;
}

/*Vibe coded since idk the colors.*/
.Profile::before {
    content: "";
    position: absolute;

    width: 550px;
    height: 550px;

    background: radial-gradient(
        circle,
        rgba(255, 220, 0, 0.65) 0%,
        rgba(255, 235, 80, 0.35) 30%,
        rgba(255, 245, 150, 0.12) 55%,
        transparent 75%
    );

    left: calc(50% - 310px);
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;
}
/*Sorry for vibecoding a lot*/

.PFP{
    width:275px;
    max-width:100%;
    border:5px solid #2563EB;
    border-radius:50%;
}

.cursor {
    display: inline-block;
    width: 15px;
    height: 3px;
    background: #000000;
    animation: blink 0.8s infinite;
    vertical-align:bottom;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.Box{
    width:525px;
    max-width:90%;
    padding:10px 20px;
    border:5px solid black;
}

.meh{
    margin-top:400px;
    display:flex;
    align-items:center;
    gap:10px;
}

.Pics{
    display:flex;
    margin-top:10px;
    margin-left:10px;
    gap:10px;
    width:490px;
    border-radius:10px;
}

.Pics img:hover {
    filter: brightness(80%);
}

#Popup {
    display: none;
    position: fixed;
    top: 80px;
    right: 30px;
    background: #0A0A0A;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    z-index: 9999;
}

.connect{
    margin:50px;
    padding:50px;
}
